
    <!-- Topbar Start -->
    <div class="container-fluid py-2 d-none d-lg-flex">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div>
                    <small class="me-3"><i class="fa fa-map-marker-alt me-2"></i> D-5 C-40 Kunwar Singh Nagar Nangloi Delhi-110041</small>
                    <small class="me-3"><i class="fa fa-clock me-2"></i>Mon-Sat 10am-10pm, Sun Closed</small>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Brand Start -->
    <div class="container-fluid bg-primary text-white pt-4 pb-5 d-none d-lg-flex">
        <div class="container pb-2">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <i class="bi bi-telephone-inbound fs-2"></i>
                    <div class="ms-3">
                        <h5 class="text-white mb-0">Call Now</h5>
                        <a href="tel:91-7015856531" class="text-white me-3">+91-7015856531</a>
                        <a href="tel:91-8510812863" class="text-white ">+91-8510812863</a>
                       
                    </div>
                </div>
                <a href="/" class="h1 text-white mb-0">Aishdeep<span class="text-dark">Enterprises</span></a>
                <div class="d-flex">
                    <i class="bi bi-envelope fs-2"></i>
                    <div class="ms-3">
                        <h5 class="text-white mb-0">Mail Now</h5>
                     <a href="mailto:aishdeepenterprises2024@gmail.com" class="text-white"><span>aishdeepenterprises2024@gmail.com</span></a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-lg-0 px-lg-3">
                <a href="/" class="navbar-brand d-lg-none">
                    <h1 class="text-primary m-0">Lab<span class="text-dark">sky</span></h1>
                </a>
                <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="about" class="nav-item nav-link">About</a>
                        <div class="nav-item dropdown">
                            <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Products</a>
                            <div class="dropdown-menu bg-light m-0">
                                <a href="blood-vacuum-vials" class="dropdown-item">Vacuum Vials</a>
                                <a href="blood-nonvacuum-vials" class="dropdown-item">Non-Vacuum Vials</a>
                                <a href="container" class="dropdown-item">Containers</a>
                                <a href="ria-vials" class="dropdown-item">Ria Vials</a>
    
                            </div>
                        </div>
                        <a href="contact" class="nav-item nav-link">Contact Us</a>
                    </div>
                    <div class="ms-auto d-none d-lg-flex">
                        <a class="btn btn-sm-square btn-primary ms-2" href="https://www.instagram.com/aishdeep_enterprises24?igsh=Y3VkdmcweGh1YWhq"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->