
   
   <!-- Footer Start -->
    <div class="container-fluid footer position-relative bg-dark text-white-50 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5 py-5">
                <div class="col-lg-6 pe-lg-5">
                    <a href="/" class="navbar-brand">
                        <h1 class="h1 text-primary mb-0">Aishdeep<span class="text-white">Enterprises</span></h1>
                    </a>
                    <p class="fs-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus augue, iaculis id elit eget, ultrices pulvinar tortor.</p>
                    <p><i class="fa fa-map-marker-alt me-2"></i> D-5 C-40 Kunwar Singh Nagar Nangloi Delhi-110041</p>
                    <p><i class="fa fa-phone-alt me-2"></i>+91-7015856531</p>
                    <p><i class="fa fa-phone-alt me-2"></i>+91-8510812863</p>
                    <p><i class="fa fa-envelope me-2"></i>aishdeepenterprises2024@gmail.com</p>
                    <div class="d-flex mt-4">
                        <a class="btn btn-lg-square btn-primary me-2" href="https://www.instagram.com/aishdeep_enterprises24?igsh=Y3VkdmcweGh1YWhq"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 ps-lg-5">
                    <div class="row g-5">
                        <div class="col-sm-6">
                            <h4 class="text-light mb-4">Quick Links</h4>
                            <a class="btn btn-link" href="about">About Us</a>
                            <a class="btn btn-link" href="contact">Contact Us</a>
                            <!-- <a class="btn btn-link" href="products">Our Products</a> -->
                            <!-- <a class="btn btn-link" href="ter">Terms & Condition</a> -->
                        </div>
                        <div class="col-sm-12">
                            <h4 class="text-light mb-4">Newsletter</h4>
                            <div class="w-100">
                                <div class="input-group">
                                    <input type="text" class="form-control border-0 py-3 px-4" style="background: rgba(255, 255, 255, .1);" placeholder="Your Email Address"><button class="btn btn-primary px-4">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark text-white-50 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-0">&copy; <a href="/">Ashdeepenterprises</a> Copyright All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

    <div class="whatsapp">
       <a href="https://wa.link/7rreij"><img src="img/icons/whatsapp.png" alt="Whatapp" width="50">
       </div></a> 